.App {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 20px;
}

.start-button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.welcome-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  background: rgba(94, 101, 230, 0.97);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.welcome-banner-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.welcome-banner-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 500ms;
}

.welcome-banner-exit {
  opacity: 1;
  transform: translateY(0);
}

.welcome-banner-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 300ms, transform 300ms;
}

.close-btn {
  margin-top: 20px;
  font-size: 1em;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}
