@font-face {
  font-family: "Press2Start";
  src: url("./fonts/PressStart2P-vaV7.ttf") format("truetype");
}

.guess-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.guess-input {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Press2Start";
}

.guess-button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.guess-button:hover {
  background-color: #1871ad;
}

.error-modal {
  margin-top: 20px;
}

.previous-guesses {
  margin-top: 10px;
  font-family: "Press2Start";
  font-size: 13px;
}
