@font-face {
  font-family: "Start2P";
  src: url("./fonts/PressStart2P-vaV7.ttf");
}

.error-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e74c3c;
  background-color: #f9ebec;
  border-radius: 10px;
}

.error-message {
  margin-top: 10px;
  color: #e74c3c;
  font-family: "Start2P";
  font-size: 10px;
}
