.error-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e74c3c;
  background-color: #f9ebec;
}

.close-button {
  font-size: 1em;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  background-color: #b51b1b;
}

.error-message {
  margin-top: 10px;
  color: #e74c3c;
}
