@font-face {
  font-family: "Start2P";
  src: url("../static/fonts/PressStart2P-vaV7.ttf");
}

.record-submission {
  margin-top: 30px;
  font-family: "Start2P";
  font-size: 12px;
}

.confirm-btn {
  width: 60px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
}

.submit-modal {
  margin-top: 20px;
}

.submit-modal input {
  margin-left: 10px;
  font-family: "Start2P";
  font-size: 12px;
  width: 150px;
}

.input label {
  margin-left: 10px;
}

/* .submit-modal {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #f205f2;
  border-width: 10px;
  border-color: #7f05f2;
  border-style: double;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
} */

/* .submit-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .submit-modal button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
} */
