@font-face {
  font-family: "Super Legend";
  src: url(./fonts/SuperLegendBoy-4w8Y.ttf) format("truetype");
}

.welcome-banner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-banner-content {
  background: rgba(94, 101, 230, 0.97);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Super Legend";
  font-size: 20px;
}

.welcome-banner-exit {
  opacity: 1;
  transform: translateY(0);
}

.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
}
