@font-face {
  font-family: "Karmatic Arcade";
  src: url("./static/fonts/ka1.ttf") format("truetype");
}

@font-face {
  font-family: "zerovelo";
  src: url("./static/fonts/zerovelo.ttf") format("truetype");
}

@font-face {
  font-family: "Game Shark";
  src: url("./static/fonts/gameShark.otf");
}

@font-face {
  font-family: "Start2P";
  src: url("./static/fonts/PressStart2P-vaV7.ttf");
}

.menu-options img {
  padding: 10px 20px;
  height: 60px;
  width: 120px;
  cursor: pointer;
  margin: 20px;
}

.start-btn:hover {
  transform: scale(1.2);
}

.score-btn:hover {
  transform: scale(1.2);
}

.main-display {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white */
  padding: 20px; /* Add padding for better readability */
  height: 85vh;
  transition: height 0.3 ease;
}

.game-opening {
  align-items: center;
}

.game-opening > h1 {
  font-family: "Game Shark";
  font-size: 75px;
}

.hidden-phrase {
  font-family: "Karmatic Arcade";
  font-size: 25px;
  padding-bottom: 20px;
}

.score {
  font-family: "Start2P";
  font-size: 15px;
}

.welcome-banner-enter,
.welcome-banner-exit {
  opacity: 0;
  transform: translateY(-20px);
}

.welcome-banner-enter-active,
.welcome-banner-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms, transform 400ms;
}

.player-status {
  margin-bottom: 30px;
}

.hearts-container {
  margin-bottom: 20px;
  background-color: black;
  padding-bottom: 20px;
}

.game-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-area {
  margin-top: 20px;
}

.result-message {
  font-family: "Start2P";
  font-size: 15px;
  padding-bottom: 20px;
}

.answer-feedback {
  font-family: "Start2P";
  font-size: 10px;
}

.back-btn {
  position: fixed;
  bottom: 10%;
  left: 4%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.3 ease;
}

.back-btn:hover {
  transform: scale(1.3);
}
