@font-face {
  font-family: "Karmatic Arcade";
  src: url("./static/fonts/ka1.ttf") format("truetype");
}

@font-face {
  font-family: "zerovelo";
  src: url("./static/fonts/zerovelo.ttf") format("truetype");
}

@font-face {
  font-family: "Game Shark";
  src: url("./static/fonts/gameShark.otf");
}

.App {
  font-family: "Karmatic Arcade", sans-serif;
  text-align: center;
  padding: 20px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #45a049;
}

.view-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #df12c1;
  color: #1e0909;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.view-button:hover {
  background-color: #a40c8d;
}

.main-game-screen {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white */
  padding: 20px; /* Add padding for better readability */
  height: 85vh;
  transition: height 0.3 ease;
}

.game-opening {
  align-items: center;
}

.game-opening > h1 {
  font-family: "Game Shark";
  font-size: 75px;
}

.hidden-phrase {
  font-family: "Karmatic Arcade";
  font-size: 25px;
}

.welcome-banner-enter,
.welcome-banner-exit {
  opacity: 0;
  transform: translateY(-20px);
}

.welcome-banner-enter-active,
.welcome-banner-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms, transform 400ms;
}

.player-info {
  margin-bottom: 20px;
}

.hearts-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: black;
}

.game-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-guess-div {
  margin-top: 20px;
}
